
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a href="@Url.Action("Index", "UserManagement")">Users</a> 
    <br />
    <a href="@Url.Action("Index", "TicketManagement")">Tickets</a>
    @ViewBag.Secret
</div>